#header{
   background-image: linear-gradient(rgb(227, 173, 91),rgb(209, 197, 198));
    display:flex;
    height: 55px;
    justify-content: space-between;
    
}
#loginbutton{
    height: 35px;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-style: normal;
    font-size: larger;
    background-Image: linear-gradient(rgb(191, 144, 151), rgb(191, 176, 178));
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    
}
#name{
    position: relative;
    bottom: 10px;
    margin-left: 150px;
    color: lightgoldenrodyellow;

}
#logo-icon button{
    cursor: pointer;
    font-size: xx-large;  
    border: transparent;
    margin-top: 10px;
    margin-left: 10px;
    background-color:transparent;
   
    
}
.orderrequest{
    position: relative;
    bottom: 30px;
}
.order-container {
    display: flex;
    border: 1px solid #1d1b1b; 
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #452c2c; 
    box-shadow: 0 2px 4px rgba(73, 25, 25, 0.1); 
    gap: 16px; 
    overflow: auto;
    justify-content: space-between;
}

.order-info, .bike-info, .status-actions {
    
    border: 5px solid black;
}
.order-info{
    background-color: #1d1b1b;
    height: 150px;
    min-width:200px;
    
}
.bike-info{
    background-color: #361010;
    height: 150px;
    min-width:200px;
   
}
.bike-info p {
    color: #5e5a5afd;
    position: relative;
    left: 5px;
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
}

.bike-info p strong {
    font-size: 16px; 
    color: #353333;
}


.status-actions{
    background-color: #371b06;
    padding: 10px;
}
.status-actions {
    max-width: 200px; 
}



.button-group {
    display: flex;
    gap: 8px; 
    margin-top: 16px;
}
.status-actions p{
    color: #0be916;
    font-size:large;
    font-weight: bold;
}
.status-actions strong{
    color: aliceblue;
}
button {
    margin-top: 50px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.accept-button {
    background-color: #1b3b1c; 
    color: rgb(51, 19, 19);
}

.decline-button {
    background-color: #841810; 
    color: rgb(37, 36, 36);
}

.accept-button:hover {
    background-color: #0be916; }

.decline-button:hover {
    background-color: #ea0707;
}
.headerbooking {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: -24px;
    border: 1px solid burlywood;
    background-color: #1b3b1c;
    padding-left: 70px;
    color: #251414;
    font-size: 30px;
    border-radius: 58px;
}