
#option{
    margin-top: 9px;
    background-color: rgb(177, 203, 227);
    border-right:3px solid rgb(108, 164, 212);
    
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size:medium;
    list-style-type: none;
    max-height:max-content;
    min-width: 190px;
    
}
#optionList li{
    list-style: none;
    position: relative;
    right: 35px;
}
#optionList button{
    background-color: transparent;
    font-size: medium;
}