
#option{
    margin-top: 9px;
    background-color: rgb(118, 96, 74);
    border-right:3px solid rgb(205, 186, 182);
    color: beige;
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size:medium;
    list-style-type: none;
    max-height:max-content;
    min-width: 190px;
    z-index: 1;
}
#optionList ul {
    list-style: none;
    position: relative;
    right: 35px;
    
}
