/* Header.css */

.usernav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }
  
  .userlogo {
    margin-left: 10px;
    color: bisque;
    background-image: radial-gradient( rgb(159, 146, 146), rgb(72, 93, 72));
    border-radius: 5px;
    filter: drop-shadow(5px 5px 2px rgb(134, 130, 130));
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px; /* Add padding for better appearance */
  }
  
  .usersearchbar {
    display: flex;
    align-items: center; /* Align items vertically centered */
  }
  
  .usersearchbar input {
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: black; 
    padding: 0 15px; 
  }
  
  .usersearchicon {
    font-size: x-large;
    color: rgb(162, 175, 186);
    margin-left: -35px;
  }
  
  .userprofileicon {
    font-size: xx-large;
    color: aliceblue;
    margin-right: 30px;
    position: relative; 
  }
  

  
  