.container {
    height: 100vh;
    background-image: linear-gradient(rgb(135, 54, 54), rgb(51, 48, 48));
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.welcome{
    position: relative;
    right: 140px;
    bottom: 90px;
    background-image:linear-gradient(rgb(1, 10, 31));
}
.welcome h3{
    position: relative;
    left: 10px;
    bottom: 20px;
    color: bisque;
}
.userlogin{
    position: relative;
    left: 105px;
}
.usersignup{
    position: relative;
    top: 20px;
   left: 120px;
}
.login-form {
    position: relative;
    bottom: 40px;
   
    box-shadow: 2px 2px 2px 2px black;
    width: 300px;
    padding: 10px;
}

.form-group input[type='submit'] {
    background-image: linear-gradient(rgb(70, 67, 67), rgb(33, 19, 19));
}
.loginlabel label{
    color: bisque;
}
.login-form p {
    font-size: larger;
    font-weight: bolder;
    margin-left: 20px;
    color: rgb(154, 15, 2);
}

.loginbutton  {
    background-color: rgb(80, 46, 5);
    color: rgb(32, 14, 4);
    border: 1px solid orange;
    font-weight: bold;
    width: 120px;
    margin-left: 10px;
}
 .signupbotton{
    background-color: rgb(80, 46, 5);
    color: rgb(32, 14, 4);
    border: 1px solid orange;
    font-weight: bold;
    width: 120px;
    margin-left: 10px;
}
  .signup-form {
   position: relative;
   bottom: 70px;
   box-shadow: 2px 2px 2px 2px black;
   width: 400px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 50px;
   height: 700px;
} 
.signup-form h2{
    position: relative;
    top: 40px;
}
 .signup-form .form-group{
    position: relative;
    top: 40px;
} 
   
.loginmessage{
   position: sticky;
   color: red;
   

}