.loader {
    margin-top: 20%;
    margin-left: 40%;
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, #230208) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg, #491414 1deg 20deg, #0000 21deg 36deg),
      radial-gradient(farthest-side, #3c380600 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: l4 1s infinite steps(10);
}
h2{
   position: relative;
   right: 60px;
   bottom: 25px;
}
@keyframes l4 {
    to {
        transform: rotate(1turn);
    }
}
