.user-profile {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: #f9f9f915;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* .profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  } */
/*   
  .profile-details {
    flex: 1;
  } */
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .usereditbutton {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
.usereditbutton:hover {
    background-color: #0056b3;
  }
  