/* ShowBike.css */

/* General container styling */
.show {
    max-width: 1200px;
   
    padding: 10px;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b6b2b2;
    border-radius: 8px;
}
.bikediv{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.bikename{
    border: 2px solid rgba(178, 135, 135, 0.673);
    margin-right: 4px;
    background-color: #e1d9d9f0;
    padding: 3px;
    font-weight: bold;
    font-size: medium;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
.bikeinfo{
    display: flex;
    border: 2px solid rgb(105, 85, 110);
    background-color: #d3b3b3d4;
    padding: 7px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.bikeprice{
    border: 1px solid rgb(57, 12, 12);
    background-color: rgb(161, 159, 156);
    padding: 2px;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.bikeimage{
    border-radius: 2px solid rgba(224, 52, 118, 0.652);
    background-color: #2a2727;
    margin-left: 5px;
}
.bikenum,.bikemodal,.bikebrand,.bikecolor,.bikecond,.bikequn,.biketype{
    border: 2px solid rgba(224, 52, 118, 0.652);
    margin-right: 5px;
}
/* Error message styling */
.error {
    color: #d9534f; 
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
}


.showbikeul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.showbikelist {
    border: 2px solid #651d1d;
    border-radius: 8px;
    margin-top: 30px;
    
    display: flex;
    align-items: flex-start;
    background-color: #d2c8c8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


.showbikelist:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px  rgba(84, 49, 20, 0.878);
}


img {
    max-width: 80px;
    max-height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
    flex-shrink: 0;
}

/* Content styling */
h3 {
    margin: 0 0 10px;
    font-size: 1.6em;
    color: #333;
    font-weight: 600;
}

p {
    margin: 5px 0;
    color: #555;
}

/* Price styling */
p.price {
    font-size: 1.2em;
    font-weight: 700;
    color: #d9534f;
    margin-top: 10px;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    li {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    img {
        margin-bottom: 15px;
    }
}
